{% extends "::base.html.twig" %}

{% block title %}Бухгалтер{% endblock %}

{% block page_title %}
    Бухгалтер
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="h2">Бухгалтер со знанием программы "1С: Бухгалтерия"</div>
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/1C-2.png') }}" alt="1C" style="float: left; width: 150px; margin-top: 10px;" hspace="20"/></div>
            <div class="right-side">
                <h2>Бухгалтер со знанием «1С: Бухгалтерия». Посещая курсы по бухгалтерскому учету важно получить только самую нужную, с практической точки зрения, информацию. Для этого мы составили наиболее эффективную схему обучения. Курс бухгалтерского учета состоит из частей: теории бухгалтерского учета, практики бухгалтерского учета и налогового учета, практики – работы в программе «1С: Бухгалтерия».</h2>
            </div>
        </div>


        <h2>Теоретическая и практическая части представляет собой изучение следующих направлений:</h2>
        <ul>
            <li>Общая характеристика БУ</li>
            <li>Предмет БУ и его объекты</li>
            <li>Счета БУ</li>
            <li>План счетов БУ</li>
            <li>Двойная запись</li>
            <li>Оборотные ведомости</li>
            <li>Баланс</li>
            <li>Документация</li>
            <li>Оценка и калькуляция</li>
            <li>Инвентаризация</li>
            <li>Учетная политика предприятия</li>
            <li>Учет операций по кассе</li>
            <li>Учет операций по расчетному счету</li>
            <li>Учет расчетов с подотчетными лицами</li>
            <li>Учет материалов</li>
            <li>Учет ОС</li>
            <li>Учет основной и дополнительной заработной платы</li>
            <li>Расчет пособий по временной нетрудоспособности</li>
            <li>Исчисление страховых взносов</li>
            <li>Учет затрат на производство</li>
            <li>Учет выпуска и реализации готовой продукции</li>
            <li>Определение финансового результата</li>
            <li>Специальные налоговые режимы</li>
            <li>Налоги</li>
        </ul>

        <h2>Практическая часть целиком посвящена ведению бухгалтерского и налогового учета в программе «1С: Бухгалтерия 8.3».</h2>
        <p>Тематический план работы:</p>
        <ul>
            <li>Занесение сведений о предприятии</li>
            <li>Формирование учетной политики и настройка параметров учета.</li>
            <li>Заполнение справочников (банки, единицы измерения, адресный классификатор, ОКОПФ)</li>
            <li>Принятие на работу сотрудников</li>
            <li>Уставный капитал предприятия</li>
            <li>Учет операций по кассе</li>
            <li>Учет операций по расчетному счету</li>
            <li>Учет расчетов с подотчетными лицами</li>
            <li>Учет материалов</li>
            <li>Учет ОС</li>
            <li>Учет оборудования, требующего монтажа и наладки</li>
            <li>Учет заработной платы</li>
            <li>Учет готовой продукции</li>
            <li>Учет реализации готовой продукции</li>
            <li>Закрытие месяца</li>
            <li>Формирование журнала полученных и выданных счетов-фактур</li>
            <li>Формирование Книги покупок</li>
            <li>Формирование Книги продаж</li>
            <li>Формирование бухгалтерской и налоговой отчетности</li>
            <li>Ведение учета по специальным налоговым режимам в веб-сервисе «Контур-Эльба»</li>
        </ul>

        <p>Если Вы уверены в своих знаниях и желаете лишь освоить свежую версию программы «1С: Бухгалтерия», мы приглашаем Вас на курсы для знающих теорию бухгалтерского учета. В этом случае обучение будет состоять только из практической части курса. После окончания курса Вы можете получить диплом по специальности «Бухгалтер со знанием «1С:Бухгалтерия».</p>
        <h2>Также у нас есть курсы изучения программы для бюджетных организаций: «1С:Бухгалтерия государственного учреждения»</h2>
    </div>
{% endblock %}
