{% extends "::base.html.twig" %}

{% block title %}Администрирование и программирование в 1С{% endblock %}

{% block page_title %}
    Администрирование и программирование в 1С
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/Deal.jpg') }}" alt="1C" style="float: left; width: 150px; margin-top: 25px;" hspace="20"/></div>
            <div class="right-side">
                <h2>Курс предназначен для слушателей, планирующих изучить основы конфигурирования и программирования в системе «1C:Предприятие 8». Знания, полученные по окончании курсов дают возможность выпускнику устанавливать, обновлять и администрировать любую конфигурацию, платформы «1С:Предприятие 8», прикладные решения 1С , а также серверы защиты. Вы сможете легко реализовать поставленные цели по редактированию конфигураций 1С, добавлять и изменять любые формы и отчеты, составлять запросы, программировать и сопровождать 1С.</h2>
            </div>
        </div>

        <h2>Разделы обучения:</h2>
        <ul>
            <li>Общий вид системы. Работа с интерфейсами.</li>
            <li>Прикладные объекты системы: справочники, константы, документы, обработки.</li>
            <li>Язык программирования 1С.</li>
            <li>Ведение оперативного учета с использованием регистров накопления. Работа с запросами в 1С.</li>
            <li>Ведение бухгалтерского учета, работа с регистрами в бухгалтерии, построение отчетов с использованием конструктора.</li>
            <li>Сложные периодические расчеты и регистры расчета (в т.ч. расчет и начисление заработной платы).</li>
            <li>Работа с отчетами, использование компоновки данных.</li>
            <li>Бизнес процессы.</li>
        </ul>
    </div>
{% endblock %}
