{% extends "::base.html.twig" %}

{% block title %}Базовый курс поставщика{% endblock %}

{% block page_title %}
    Базовый курс поставщика
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="h2">"Участие в госзакупках (44-ФЗ). Правовые нормы и практика участия в открытом аукционе на площадке РТС-тендер"</div>
        <img src="{{ asset('bundles/grandchitaapp/images/RTCTender.jpg') }}" alt="Тендер РТС" style="float: left;"/>
        <h2>1. Основы участия в госзакупках.</h2>
        <ul class="some-list">
            <li>Что такое Контрактная система: обзор закона 44-ФЗ.</li>
            <li>Основные требования к участию и участникам КС.</li>
            <li>ЕИС. Поиск закупок.</li>
            <li>Алгоритм участия в электронном аукционе от получения ЭЦп до заключения контракта.</li>
        </ul>
        <h2>2. Практическая работа на торговой площадке РТС-тендер.</h2>
        <ul>
            <li>Функционал площадки РТС-тендер.</li>
            <li>Регистрация и аккредитация. Порядок работы в закрытой части системы (личный кабинет).</li>
            <li>Заполнение и подача заявок на участие в аукционе.</li>
            <li>Процедура аукциона. Правила подачи ценовых предложений. Разбор типичных ошибок.</li>
            <li>Публикация итогового протокола. Сроки в соответствии с Законом о контрактной системе.</li>
            <li>Заключение государственного контракта. Документооборот при заключении контракта.</li>
        </ul>
    </div>
{% endblock %}
