{% extends "::base.html.twig" %}

{% block title %}Ремонт компьютерной техники и администрирование сетей{% endblock %}

{% block page_title %}
    Ремонт компьютерной техники и администрирование сетей
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/compuer.jpg') }}" alt="Computer" style="float: left; width: 200px; margin-top: 7px;" hspace="20"/></div>
            <div class="right-side">
                <p>Нужно настроить или отремонтировать компьютер? Хотите экономить время и деньги? Не вызывать дорогостоящих мастеров, а взять решение этих задач под свой контроль? Научитесь этому в нашем Учебном Центре на курсах по настройке и ремонту ПК. Эти знания понадобятся практически каждому, кто работает на компьютере. Умение настраивать, ремонтировать и обслуживать компьютеры очень ценится в современном мире вне зависимости от того, собираетесь ли Вы работать в этой сфере или же просто хотите применять полученные навыки в домашних условиях. На курсах по настройке и ремонту ПК Вы научитесь модернизировать компьютер более новым железом, а также выяснять причины неполадок на PC и устранять их. Большое внимание уделяется настройке и прокладыванию сетей, настройке серверов. </p>
            </div>
        </div>
        <h2>В программе курса:</h2>
        <div class="p">Ремонт и модернизация компьютерной техники</div>
        <ul>
            <li>Аппаратное обеспечение</li>
            <li>Настройка BIOS</li>
            <li>Установка OC Windows</li>
            <li>Инструментальное программное обеспечение</li>
        </ul>
        <div class="p">Администрирование сетей</div>
        <ul>
            <li>Администрирование ОС Windows</li>
            <li>Администрирование ОС Windows Server</li>
            <li>Проектирование локальных вычислительных сетей</li>
            <li>Администрирование ЛВС</li>
            <li>Администрирование серверных служб</li>
        </ul>
    </div>
{% endblock %}
