{% extends "::base.html.twig" %}

{% block title %}Компьютерные курсы для пожилых людей{% endblock %}

{% block page_title %}
    Компьютерные курсы для пожилых людей
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/oldPeoples.jpg') }}" alt="1C" style="float: left; width: 150px; margin-top: 7px;" hspace="20"/></div>
            <div class="right-side">
                <p>- Самое сложное - начать. Решить для самого себя, да, я иду на курсы. Потому что хочу общаться с родными, которые уехали в другие города. Потому что хочу видеть, как растут внуки. Потому что хочу уметь сама писать электронные письма. Хочу найти новых друзей, таких же активных и деятельных, как и я, - говорит Татьяна Васильевна. Татьяне Васильевне 65 лет и она закончила курсы компьютерной грамотности еще весной.</p>
            </div>
        </div>
        <p>Два года назад мы разработали и ввели новый учебный курс: "Компьютерная грамотность для пожилых людей". Была разработана специальная программа обучения, основная цель которой: научить старшее поколение увереннно пользоваться компьютером. Большинство пожилых людей имеет ноутбук или стационарный компьютер, но так и ни разу за него не садились. Боятся что-нибудь сломать или чувствуют себя не уверенно перед детьми и внуками. Желание освоить компьютер есть, а вот подсказать и терпеливо объяснить некому.</p>
        <p>Если и Вы столкнулись с подобным затруднением, то приглашаем Вас на курсы! Что будем изучать и что Вы будете знать и уметь после окончания курса?</p>
        <ul>
            <li>Устройство персонального компьютера, режимы запуска и выключения.</li>
            <li>Работа с операционной системой Windows</li>
            <li>Настройка рабочего стола.</li>
            <li>Создание, копирование, перемещение папок.</li>
            <li>Удаление и восстановление документов.</li>
            <li>Работа с флешкой.</li>
            <li>Установка и удаление программ.</li>
            <li>Клавиатурный тренажер.</li>
            <li>Работа в Интернете. Браузеры.</li>
            <li>Поисковые системы.</li>
            <li>Сохранение, копирование информации.</li>
            <li>Электронные письма.</li>
            <li>Социальные сети.</li>
            <li>Скайп.</li>
            <li>и многое, многое другое.</li>
        </ul>

        <h2>Занятия проходят в доброжелательной и спокойной обстановке. У нас очень терпеливые и внимательные преподаватели, к которым можно обратиться за дополнительными разъяснениями. Мы с удовольствием научим Вас работать на компьютере, выходить в интернет, скачивать музыку, общаться.  Учебные классы чистые и светлые. Каждому учащемуся выдается методическое пособие, оно остается у Вас на руках. Даже после обучения, мы продолжаем общаться со многими нашими курсантами, теперь уже посредством интернета! Смотрим на новые фотографии, радуемся каждому достижению. Мы стараемся сделать все возможное, чтобы Вам понравилось учиться у нас, чтобы все знания были усвоены и успешно применялись на практике.</h2>
    </div>
{% endblock %}
