{% extends "::base.html.twig" %}

{% block title %}Графика, дизайн, верстка{% endblock %}

{% block page_title %}
    Графика, дизайн, верстка
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/design.jpg') }}" alt="1C" style="float: left; width: 150px; margin-top: 7px;" hspace="20"/></div>
            <div class="right-side">
                <p>Потребность человека творить выражается во многих сферах жизни. Для красивой подачи своей идеи необходимо ее визуализировать, для этого, в свою очередь, необходимо использовать графические программы. Курс предназначен для пользователей ПК, стремящихся освоить возможности современной компьютерной графики, а также для специалистов по рекламе и дизайну, владеющих начальными навыками работы на персональном компьютере.</p>
            </div>
        </div>

        <p>В курс «Компьютерная графика» входит освоение программ графики: «Adobe Photoshop» и «Corel Draw». Фотошоп предназначен для работы с растровой графикой, анимацией. А вот Корел позволит Вам создать чертеж любой сложности. Возможности данных программ практически безграничны при условии хорошего художественного вкуса и созидательного начала человека. На наших курсах, которые длятся месяц, Вы сможете научиться рисовать в Фотошопе, делать анимацию, создавать сложные коллажи, находить интересные оформительские решения для фотографий. Создание рекламных макетов, набор печатей, рисование визиток, анимация, верстка - это задачи для изучения в Корел.</p>
        <p>Для тех, чья работа никак не связана с рекламой такие курсы так же окажутся полезны, так как красиво отретушированные фотографии всегда будут радовать глаз. Мы научим убирать морщинки, кожные дефекты, лишний вес и многое другое! Ваши фото всегда будут яркими и очень красивыми. А детские фотографии, вставленные в красочные рамочки порадуют также и Ваших деток. Добро пожаловать на курсы волшебства!</p>
    </div>
{% endblock %}
