{% extends "::base.html.twig" %}

{% block title %}Сметное дело в строительстве{% endblock %}

{% block page_title %}
    Сметное дело в строительстве
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="h2">Сметное дело в строительстве + ПК ГрандСмета</div>
        <h2>В программу курса включены следующие разделы:</h2>
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/Deal.jpg') }}" alt="1C" style="float: left; width: 230px; margin-top: 10px;" hspace="20"/></div>
            <div class="right-side">
                <ul class="some-list-2">
                    <li>Основы ценообразования и сметного нормирования (сметные нормативы, нормы, виды сметных нормативов, маркировка документации в строительстве, инвестиционная деятельность РФ, основные типы цен на строительную продукцию, структура сборников ГЭСН и ФЕР)</li>
                    <li>Общие положения по определению стоимости строительства (вид сметной документации: локальная смета, объектный сметный расчет, сводный сметный расчет)</li>
                    <li>Составление сметной документации (накладные расходы: виды норм НР, расчет НР, нормы НР по видам работ, нормы НР для организаций, работающих по УСН; сметная прибыль; виды нормативов СП; методы определения себестоимости строительства: ресурсный, базисно-индексный, ресурсно-индексный, структура прямых затрат; оплата труда; эксплуатация маши ,материалы ,тара, упаковка, реквизит, определение стоимости на демонтажные работы, капитальный ремонт, сводный сметный расчет)</li>
                </ul>
            </div>
        </div>

        <ul>
            <li>Подсчет объемов работ</li>
            <li>Составление локальных, объектных смет (выбор расценок из сборников, применение соответствующих коэффициентов, различные способы перевода в текущие цены)</li>
            <li>Работа с ПК ГрандСмета версии 7.2 (версии программы, интерфейс программы, основные возможности, работа с нормативной базой, общие принципы составления смет, работа с позиции сметы; подведение итогов по смете; ресурсный метод; учет выполненных работ; сводный сметный расчет)</li>
        </ul>

        <h2>Каждому слушателю выдается комплект раздаточного материала: рабочая тетрадь пользователя с нормативными документами по ценообразованию в строительстве.</h2>
        <h2>В процессе составления слушатель учится составлять строительные, ремонтные, монтажные сметы различного уровня и характера, хранить и обновлять сметную информацию, осуществлять сметные расчеты по принятым и новым формулам, шаблонам, а так же производить пересчет сметной стоимости в текущие цены.</h2>
        <h2>Всем выпускникам оказывается консультационная помощь по вопросам ценообразования в строительстве и в работе в программе ГрандСмета и после окончания обучения! </h2>
    </div>
{% endblock %}
