{% extends "::base.html.twig" %}

{% block title %}Инспектор отдела кадров{% endblock %}

{% block page_title %}
    Инспектор отдела кадров
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="h2">Инспектор отдела кадров со знанием «1С: Зарплата и Управление персоналом»</div>
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/1C-2.png') }}" alt="1C" style="float: left; width: 150px; margin-top: 10px;" hspace="20"/></div>
            <div class="right-side">
                <h2>Данный курс представляет собой несколько крупных тематических разделов: кадровое дело, расчетная часть и работа в программе «1С:Зарплата и Управление Персоналом».</h2>
            </div>
        </div>


        <h2>Подробнее о каждом из разделов:</h2>
        <h2>1) Кадровое дело. Изучается:</h2>
        <ul>
            <li>Должностная инструкция инспектора отдела кадров</li>
            <li>Подбор персонала</li>
            <li>Правила оформления должностной инструкции</li>
            <li>Инструктаж</li>
            <li>Трудовой договор</li>
            <li>Договор гражданско-правового характера</li>
            <li>Приказ о приеме на работу</li>
            <li>Трудовая книжка</li>
            <li>Личная карточка</li>
            <li>Воинский учет на предприятии</li>
            <li>Приказы о переводе, командировке, увольнении</li>
            <li>Штатное расписание</li>
            <li>Табель учета рабочего времени</li>
            <li>Заработная плата, расчет</li>
            <li>Отпуск</li>
            <li>График отпусков</li>
            <li>Приказ о предоставлении отпуска</li>
            <li>Расчет отпускных</li>
            <li>Расчет пособия по временной нетрудоспособности</li>
            <li>Личное дело</li>
        </ul>

        <h2>2) Работа в программе «1С:Зарплата и Управление Персоналом»:</h2>

        <ul>
            <li>Заполнение сведений о предприятии.</li>
            <li>Заполнение справочников.</li>
            <li>Производственный календарь.</li>
            <li>Графики работ</li>
            <li>Штатное расписание</li>
            <li>Прием на работу, перевод, командировка, увольнение</li>
            <li>График отпусков, приказ о предоставлении отпуска</li>
            <li>Неявки и болезни</li>
            <li>Работа в праздничные и выходные дни</li>
            <li>Сверхурочные часы</li>
            <li>Формирование кадровой отчетности</li>
            <li>Начисление заработной платы, среднего заработка при командировках, отпускных, пособия по временной нетрудоспособности</li>
            <li>Справки для сотрудников</li>
            <li>Формирование отчетности в фонды</li>
        </ul>

        <h2>Для эффективного освоения программы, выдается методическое пособие, которое остается у курсанта на руках. После окончания обучения, Вы можете получить диплом о дополнительном образовании, со специальностью: «Инспектор отдела кадров со знанием программы «1С:Зарплата и Управление Персоналом».</h2>
    </div>
{% endblock %}
