{% extends "::base.html.twig" %}

{% block title %}Оператор{% endblock %}

{% block page_title %}
    Оператор
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="h2">1С: Управление торговлей (Торговля и Склад)</div>

        <h2>За годы развития данная программа претерпела огромное количество изменений. Из простой программы по ведению оперативного учета, она превратилась в мощный инструмент анализа для управленцев любого уровня.</h2>
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/1C.jpg') }}" alt="Тендер РТС" style="float: left; width: 200px; margin-top: 10px;" hspace="20"/></div>
            <div class="right-side">
                <p>В данной программе успешно сочетаются сразу несколько направлений:</p>
                <ol class="some-list-2">
                    <li>Управление взаимоотношения с партнерами компании (сверка взаиморасчетов)</li>
                    <li>Управление продажами, закупками</li>
                    <li>Маркетинговые мероприятия (скидки и наценки)</li>
                    <li>Работа с торговыми представителями</li>
                    <li>Учет финансов (безналичные и наличные расчеты)</li>
                    <li>Хозяйственный учет товаров на складах</li>
                    <li>Учет НДС</li>
                </ol>
            </div>
        </div>


        <h2>За время обучения курсанты решают сквозную задачу, в которой:</h2>
        <ul>
            <li>Заносятся сведения о новом предприятии</li>
            <li>Формируется учетная политика предприятия</li>
            <li>Заполняются различные справочники: банки, единицы измерения, адресный классификатор</li>
            <li>Изучается процесс ценообразования</li>
            <li>Заносятся сведения о партнерах: клиентах и поставщиках</li>
            <li>Формируются сегменты партнеров (аналитика взаимоотношений)</li>
            <li>Работа с номенклатурой (группы номенклатуры, единицы номенклатуры, товар с характеристиками, товар в упаковке).</li>
            <li>Учет входящих остатков</li>
            <li>Перемещение товара</li>
            <li>Реализация товара за наличный расчет</li>
            <li>Реализация товара за безналичный расчет</li>
            <li>Покупка товара за наличный расчет</li>
            <li>Покупка товара за безналичный расчет</li>
            <li>Реализация по чеку ККМ</li>
            <li>Финансовые операции по оплате счетов</li>
            <li>Финансовые операции по принятии денежных средств от покупателя</li>
            <li>Учет счетов-фактур полученных и выданных</li>
            <li>Работа с подотчетными лицами, авансовый отчет</li>
            <li>Автоматические и ручные скидки</li>
            <li>Аналитика деятельности предприятия, расчетов по партнерам, эффективности продаж</li>
        </ul>

        <h2>Специальности, для которых необходимо знание программы «1С:Управление Торговлей»:</h2>
        <ul>
            <li>Владелец торгового предприятия</li>
            <li>Менеджмент предприятия</li>
            <li>Офис-менеджер</li>
            <li>Торговый представитель</li>
            <li>Оператор ККМ</li>
            <li>Продавец</li>
            <li>Кладовщик</li>
        </ul>

        <h2>После окончания курса Вы можете получить диплом по специальности «Оператор программы «1С:Управление Торговлей»».</h2>
    </div>
{% endblock %}
