{% extends "::base.html.twig" %}

{% block title %}Пользователь ПЭВМ{% endblock %}

{% block page_title %}
    Пользователь ПЭВМ
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/PEVM.jpg') }}" alt="Computer" style="float: left; width: 150px; margin-top: 7px;" hspace="20"/></div>
            <div class="right-side">
                <p>Практически любая сфера деятельности современного человека связана с компьютерной техникой. Использование компьютера облегчило жизнь как сотрудника офиса, так и рядового школьника.  При устройстве на работу частое требование к соискателю – опытный пользователь ПК. А это значит, что потребности в грамотном и уверенном специалисте, легко управляющемся с офисной техникой существенно возросли.</p>
            </div>
        </div>
        <p>Целью курса является получение навыков и знаний для базовой работы пользователя на компьютере. Курс позволит Вам стать уверенным пользователем ПК. Вы научитесь создавать документы с помощью пакета программ «Microsoft Office», а также сможете пользоваться основными возможностями сети Интернет.</p>
        <p>Рекомендуется всем, кто хочет начать изучение компьютера с самого начала или систематизировать и закрепить ранее полученные знания.</p>
        <h2>В программе обучения:</h2>
        <ul>
            <li>Изучение операционной системы Windows 7;</li>
            <li>Работа с клавиатурным тренажером (Stamina);</li>
            <li>Создание и удаление объектов;</li>
            <li>Перемещение объектов;</li>
            <li>Копирование, в том числе на электронный носитель (на флешку);</li>
            <li>Работа со стандартными программами (калькулятор, блокнот, Paint);</li>
            <li>Работа с текстовым редактором Microsoft Office Word (текст, таблицы, формулы, колонки);</li>
            <li>Работа с табличным редактором Microsoft Office Excel (таблицы, ячейки, формулы, диаграммы и графики);</li>
            <li>Создание презентаций в Microsoft Power Point;</li>
            <li>Электронная почта;</li>
            <li>Работа с программой Skype (бесплатные телефонные звонки);</li>
            <li>Социальные сети;</li>
            <li>Обработка и оформление фотографий;</li>
            <li>Работа с офисной техникой (принтер, сканер);</li>
            <li>Офисное делопроизводство.</li>
        </ul>
        <p>Для уверенного освоения работы на компьютере выдается методическое пособие, которое остается у курсанта на руках. После окончания курса Вы можете получитьс свидетельство по специальности «Пользователь ПЭВМ».</p>
        <p>Данный набор навыков является базовым, зная все это, Вы сможете самостоятельно развиваться в любом направлении.</p>
    </div>
{% endblock %}
