{% extends "::base.html.twig" %}

{% block title %}Внедрение профессиональных стандартов в организации{% endblock %}

{% block page_title %}
    Внедрение профессиональных стандартов в организации
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/profstandart.jpg') }}" alt="1C" style="float: left; width: 150px; margin-top: 25px;" hspace="20"/></div>
            <div class="right-side">
                <h2>Как всем известно, с 01 июля 2016 года все организации, всех правовых форм (ООО, ОАО, ЗАО, ИП и др.) должны применять профессиональные стандарты,
                    утверждённые Министерством Труда. Применение профстандартов возможно только после их внедрения,
                    а именно приведения штатного расписания в соответствие с требованиями законодательства.</h2>
            </div>
        </div>

        <p>Многие организации задаются вопросом: "Как внедрить профстандарты?" Для ответа на этот вопрос мы разработали данный курс,
            чтобы Вы смогли внедрить профстандарты в вашей организации, и, после внедрения, соблюдать в организации внесённые изменения, чтобы,
            в случае проверки трудовой инспекцией, не обнаружились нарушения, повлекшие штрафные санкции.</p>
        <p>Цель: повышение квалификации слушателей</p>
        <h2>Данный курс даст возможность участникам:</h2>
        <ul>
            <li>Проанализировать требования законодательства </li>
            <li>Дать возможность оценить изменение законодательства со стратегической точки зрения</li>
            <li>Научиться "читать" макеты профессиональных стандартов </li>
            <li>Построить в компании процедуру внедрения профессиональных стандартов, оценки квалификации работников и построить план их дальнейшей расстановки в компаниях.</li>
        </ul>
        <p>Категория слушателей: руководители и специалисты службы персонала, кадровых служб, руководители структурных подразделений.</p>
        <p>Количество часов: 20</p>
        <p>Стоимость 3900 руб.</p>
        <p>Ближайшие группы: 6 апреля, 17 апреля. </p>
        <p>Обязательна предварительная запись!</p>
        <p>8(3022) 35-72-15, 35-81-87, 89144476486.</p>
    </div>
{% endblock %}
