{% extends "::base.html.twig" %}

{% block title %}Бухгалтерский учет малого предприятия{% endblock %}

{% block page_title %}
    Бухгалтерский учет малого предприятия
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="containers parent">
            <div class="left-side"><img src="{{ asset('bundles/grandchitaapp/images/statistic.jpg') }}" alt="1C" style="float: left; width: 150px; margin-top: 25px;" hspace="20"/></div>
            <div class="right-side">
                <h2>Курс: Бухгалтерский учет малого предприятия (УСН, ЕНВД, Патент)
                    Данный курс специально разработан для индивидуальных
                    предпринимателей, руководителей и бухгалтеров, ведущих учет по специальным налоговым режимам.
                    Обучение будет полезно также для тех, кто только планирует открыть свой бизнес, кто хочет сам вести бухгалтерский учет своего предприятия,
                    контролировать его ведение бухгалтером, говорить с ним на «одном языке». </h2>
            </div>
        </div>

        <h2>Обучение состоит из 2 основных разделов: </h2>
        <p>- Ведениебухгалтерского учета по режимам УСН, ЕНВД, Патент: </p>
        <ul>
            <li>Учет кассовых и банковских операций </li>
            <li>Учет расчетов с подотчетными лицами</li>
            <li>Учет поступления товаров, материалов, основных средств </li>
            <li>Учет реализации товаров </li>
            <li>Взаиморасчеты с контрагентами </li>
            <li>Составление налоговой отчетности </li>
        </ul>
        <p>- Отражение бухгалтерского учета в программе «1С:Бухгалтерия».</p>
        <p>Срок обучение 1 месяц. Стоимость 6900 руб. </p>
    </div>
{% endblock %}
