{% extends "::base.html.twig" %}

{% block title %}GrandChitaAppBundle:Documents:educationProgramm{% endblock %}

{% block body %}
<h1>Welcome to the Documents:educationProgramm page</h1>
{% endblock %}
