{% extends "::base.html.twig" %}

{% block title %}Преподовательский состав{% endblock %}

{% block page_title %}
    Преподавательский состав
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="staff-grid">
            {% for item in staff %}
            <div class="staff-item">
                <div class="staff-preview">
                    <a href="{{ path('staff_item', {id: item.id}) }}"><img src="{% path item.preview, 'small' %}" /></a>
                </div>
                <div class="staff-name">
                    <a href="{{ path('staff_item', {id: item.id}) }}">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
