{% extends "::base.html.twig" %}

{% block title %}{{ program.title }}{% endblock %}

{% block page_title %}
    {{ program.title }}
{% endblock %}

{% block content %}
    <div class="content-carcass">
        <div class="gallery-grid-view">
            {% for ghm in program.gallery %}
                <div class="one-media">
                    <img src="{% path ghm.media, 'small' %}" alt="image" data-full="{% path ghm.media, 'reference' %}" data-action="modal" />
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
